    # Visual Studio / .NET

    ## Core Visual Studio cache files
    **/[Bb]in/
    **/[Oo]bj/
    **/.vs/
    *.suo
    *.user

    ## Build results
    [Bb]uild/
    [Rr]elease/
    [Dd]ebug/
    *.dll
    *.exe
    *.pdb
    *.manifest
    *.xml # Если не хотите хранить xml-документацию

    ## IDE/Editor specific files
    .idea/
    *.DS_Store

    ## Rider specific files
    *.sln.iml

    ## User-specific files (like publishing credentials)
    *.pubxml.user

    ## Environment files
    .env

    ## Secrets
    secrets.json

    ## Logs
    **/[Ll]ogs/
    *.log

    ## Test results
    TestResult*/
    *.trx

    ## Nuget Packages
    **/packages/
    *.nupkg
    # Allow Nuget.Config
    !**/Nuget.Config
    !**/nuget.config

    ## Node Modules (if using JS/TS)
    node_modules/

    ## ReSharper specific
    _ReSharper*/
    *.[Rr]e[Ss]harper

    ## DotCover specific
    *.dotCover

    # Others
    *.zip
    *.rar
    *.7z

    # Visual Studio Code cache/settings
    .vscode/*
    !.vscode/settings.json
    !.vscode/tasks.json
    !.vscode/launch.json
    !.vscode/extensions.json
    *.code-workspace

    # Visual Studio cache/options directory
    .vs/
    .vs/proga/
    # Rider

    DownloaderApp/.vs/

    # Cursor specific
    .cursor/
DownloaderApp/.vs/DownloaderApp/FileContentIndex/71c3412b-e233-4a18-a34d-30582e9d4041.vsidx
DownloaderApp/.vs/DownloaderApp/FileContentIndex/145105fb-819c-4b8a-8ab1-ceabd41f401a.vsidx
DownloaderApp/.vs/DownloaderApp/FileContentIndex/7634268a-1573-4ec8-99ce-734ea8aebed4.vsidx
DownloaderApp/.vs/DownloaderApp/FileContentIndex/240a93a1-eff2-4be8-a2c2-5830591268a7.vsidx
DownloaderApp/.vs/DownloaderApp/FileContentIndex/deb5a219-015e-45b8-8acf-02cb1ba00000.vsidx
DownloaderApp/.vs/DownloaderApp/FileContentIndex/deb5a219-015e-45b8-8acf-02cb1ba00000.vsidx
DownloaderApp/obj/Release/net9.0-windows/App.baml

bin/
obj/
