    # Visual Studio / .NET

    ## Core Visual Studio cache files
    **/[Bb]in/
    **/[Oo]bj/
    **/.vs/
    *.suo
    *.user

    ## Build results
    [Bb]uild/
    [Rr]elease/
    [Dd]ebug/
    *.dll
    *.exe
    *.pdb
    *.manifest
    *.xml # Если не хотите хранить xml-документацию

    ## IDE/Editor specific files
    .idea/
    *.DS_Store

    ## Rider specific files
    *.sln.iml

    ## User-specific files (like publishing credentials)
    *.pubxml.user

    ## Environment files
    .env

    ## Secrets
    secrets.json

    ## Logs
    **/[Ll]ogs/
    *.log

    ## Test results
    TestResult*/
    *.trx

    ## Nuget Packages
    **/packages/
    *.nupkg
    # Allow Nuget.Config
    !**/Nuget.Config
    !**/nuget.config

    ## Node Modules (if using JS/TS)
    node_modules/

    ## ReSharper specific
    _ReSharper*/
    *.[Rr]e[Ss]harper

    ## DotCover specific
    *.dotCover

    # Others
    *.zip
    *.rar
    *.7z
DownloaderApp/.vs/DownloaderApp/FileContentIndex/b140795f-d909-499c-9dd7-b00107266cc4.vsidx
DownloaderApp/.vs/DownloaderApp/FileContentIndex/6d1bb756-269c-42f1-a244-2971a094826d.vsidx
DownloaderApp/.vs/DownloaderApp/FileContentIndex/91d5ce66-9424-4dd4-9ff0-b677e69a8c08.vsidx
DownloaderApp/.vs/DownloaderApp/FileContentIndex/5e237760-6ac6-44a0-b4d1-0fac90bbfce4.vsidx
DownloaderApp/.vs/DownloaderApp/FileContentIndex/2dbf6813-2299-49ac-a740-ab554c8c8121.vsidx
